<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package
        Language="1033"
        Manufacturer="{{author}}"
        Name="{{name}}"
        UpgradeCode="{{upgradecode}}"
        Version="{{version}}">
		<MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
		<MediaTemplate EmbedCab="yes" />
		<StandardDirectory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="{{name}}">
					<Component Id="ProductComponent">
						<!-- Our command line utility -->
						<File Source="dist\{{name}}.exe" KeyPath="yes" />
						<!-- Add install path to system path -->
					<Environment Id="AddToPath"
				  Name="PATH"
				  Value="[INSTALLFOLDER]"
				  Permanent="no"
				  Part="last"
				  Action="set"
				  System="yes"/>
					</Component>
				</Directory>
		</StandardDirectory>
		<Feature Id="MainFeature">
			<ComponentRef Id="ProductComponent" />
		</Feature>
	</Package>
</Wix>
